.title {
	padding-right: 15px;
}

.banner-overview {
	background: #E1E2E3;
	/*background: rgba(20, 55, 208, .5);*/
	/*background: rgba(4,196,182,.5);*/
	/*background: rgba(95, 54, 184, .5);purple*/
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    align-items: top;
    padding: 10% 0% 15% 0;
    /*border-style: solid none none none;
    border-width: 3px;
    border-color: #F1F1F2;*/
}
.project-item{
	width: 275px;
	height: 275px;
	/*display: block;*/
	position:relative;
	/*margin: 2.75% 2%;*/
	
}

.project-container {
position:absolute;
	top:0;
	bottom: 0;
	left: 0;
	width: 100%;
	height:100%;
	display: table;
}

.project-item img {
	width: 275px;
	max-width: 100%;
	height: 275px;
}


.project-caption{
	/*position: absolute;*/
	/*top:0;*/
	/*width:100%;*/
	/*height: 100%;*/
	/*display: block;*/

	background-color: #000000;
	color: #FFFFFF;
	text-align:center;
	text-decoration: none;

	margin:auto;
	opacity:0;
	display: table-cell;
	vertical-align: middle;



}

.project-container:hover > .project-caption{
	opacity: 1;
	transition:.5s;
}
